
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Grégory EYRAUD - Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>
<body class="w3-sand">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-deep-orange">
    <a href="#main" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>ACCUEIL</p>
    </a>
    <a href="#formations" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-graduation-cap w3-xxlarge"></i>
        <p>FORMATIONS</p>
    </a>
    <a href="#experiences" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-suitcase w3-xxlarge"></i>
        <p>EXPÉRIENCES</p>
    </a>
    <a href="#en_cours" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>PROJETS EN COURS</p>
    </a>
    <a href="#idees" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-gears w3-xxlarge"></i>
        <p>MES PETITES IDÉES</p>
    </a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>CONTACT</p>
    </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium w3-deep-orange"  id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#main" class="w3-bar-item w3-button my-custom-red w3-hover-orange" style="width:25% !important">ACCUEIL</a>
    <a href="#formations" class="w3-bar-item w3-button my-custom-red w3-hover-orange" style="width:25% !important">FORMATIONS</a>
    <a href="#experiences" class="w3-bar-item w3-button my-custom-red w3-hover-orange" style="width:25% !important">EXPÉRIENCES</a>
    <a href="#en_cours" class="w3-bar-item w3-button my-custom-red w3-hover-orange" style="width:25% !important">PROJETS EN COURS</a>
    <a href="#idées" class="w3-bar-item w3-button my-custom-red w3-hover-orange" style="width:25% !important">MES PETITES IDÉES</a>
    <a href="#contact" class="w3-bar-item w3-button my-custom-red w3-hover-orange" style="width:25% !important">CONTACT</a>
  </div>
</div>

<div id="main">
    <!-- Header -->
    <!-- Animation du header faite par Marco Guglielmelli -->
    <!-- Conteneur principal du header avec l'animation -->
    <div id="large-header" class="large-header">
        <canvas id="bubbles-canvas"></canvas>

        <header class="fullscreen-header header-content">
            <h1><b>Grégory EYRAUD</b></h1>
            <span id="typewriter" class="w3-text-theme w3-xlarge"></span> <!-- Effet de typewriter -->

            <div class="about-section">
                <p>{{ profile.bio }}</p>
            </div>
        </header>
    </div>

    <!-- Section "Mes formations" -->
    <section id="formations" class="timeline-section">
        <h2>Mon parcours universitaire</h2>
        <div class="timeline">
            {% for formation in formations %}

            <div class="container {% if forloop.counter|divisibleby:2 %}right{% else %}left{% endif %}" data-anim="{{ forloop.counter }}">
                <div class="timeline-content">
                    <h3>{{ formation.title }}</h3>
                    <p>{{ formation.starting_date }} - {{ formation.ending_date }}</p>
                    <p>{{ formation.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


    <!-- Projects Section -->
    <div class="w3-container w3-padding-32" id="experiences">
        <h2>Mes expériences</h2>
        <div class="w3-row-padding">
            {% for project in projects %}
            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4 project-card">
                    <div class="project-image-container">
                        <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image">
                        <div class="overlay">
                            <span class="w3-large">{{ project.title }}</span>
                            <button
                                class="w3-button w3-circle w3-teal project-button"
                                data-title="{{ project.title }}"
                                data-description="{{ project.description|escapejs }}"
                                data-start-date="{{ project.start_date }}"
                                data-end-date="{{ project.end_date }}"
                                onclick="openModal(this)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


            <!-- Modale pour afficher les détails du projet -->
            <div id="projectModal" class="modal">
                <div class="modal-content">
                    <span class="close-button" onclick="closeModal()">&times;</span>
                    <h3 id="modalTitle"></h3>
                    <p id="modalDescription"></p>
                    <p id="modalStartDate"></p>
                    <p id="modalEndDate"></p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Lien vers le script JavaScript externe -->
<script src="{% static 'portfolio/script.js' %}"></script>


</body>
</html>
