
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Grégory EYRAUD - Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>
<body class="w3-sand">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center my-custom-red">
    <a href="#main" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>ACCUEIL</p>
    </a>
    <a href="#formations" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-graduation-cap w3-xxlarge"></i>
        <p>FORMATIONS</p>
    </a>
    <a href="#competences" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-cube w3-xxlarge"></i>
        <p>COMPÉTENCES</p>
    </a>
    <a href="#experiences" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-suitcase w3-xxlarge"></i>
        <p>EXPÉRIENCES</p>
    </a>
    <a href="#idees_en_cours" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>PROJETS EN COURS ET IDÉES</p>
    </a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large my-custom-red w3-hover-orange">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>CONTACT</p>
    </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top collapsed w3-hide-large w3-hide-medium w3-deep-orange" id="myNavbar">
  <span class="burger-menu" onclick="toggleMenu()">☰</span>
    <a href="#main" class="w3-bar-item nav-item w3-button my-custom-red w3-hover-orange">ACCUEIL</a>
    <a href="#formations" class="w3-bar-item nav-item w3-button my-custom-red w3-hover-orange">FORMATIONS</a>
    <a href="#competences" class="w3-bar-item nav-item w3-button my-custom-red w3-hover-orange">COMPÉTENCES</a>
    <a href="#experiences" class="w3-bar-item nav-item w3-button my-custom-red w3-hover-orange">EXPÉRIENCES</a>
    <a href="#idees_en_cours" class="w3-bar-item nav-item w3-button my-custom-red w3-hover-orange">PROJETS EN COURS ET IDÉES</a>
    <a href="#idées" class="w3-bar-item nav-item w3-button my-custom-red w3-hover-orange"></a>
    <a href="#contact" class="w3-bar-item nav-item w3-button my-custom-red w3-hover-orange">CONTACT</a>
</div>

<div id="main">
    <!-- Header -->
    <!-- Animation du header faite par Marco Guglielmelli -->
    <!-- Conteneur principal du header avec l'animation -->
    <div id="large-header" class="large-header">
        <canvas id="bubbles-canvas"></canvas>

        <header class="fullscreen-header header-content">
            <h1><b>Grégory EYRAUD</b></h1>
            <span id="typewriter" class="w3-text-theme w3-xlarge"></span> <!-- Effet de typewriter -->

            <div class="about-section">
                <p>{{ profile.bio }}</p>
            </div>
        </header>
    </div>

    <!-- Section "Mes formations" -->
    <section id="formations" class="timeline-section">
        <h2>Mon parcours universitaire</h2>
        <div class="timeline">
            {% for formation in formations %}

            <div class="container {% if forloop.counter|divisibleby:2 %}right{% else %}left{% endif %}" data-anim="{{ forloop.counter }}">
                <div class="timeline-content">
                    <h3>{{ formation.title }}</h3>
                    <p>{{ formation.starting_date }} - {{ formation.ending_date }}</p>
                    <p>{{ formation.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="competences" class="skills-section">
        <h2>Mes Compétences</h2>
        <div class="skills-grid">
            {% for category in categories %}
            <div class="skill-card">
                <div class="icon-wrapper">
                    <i class="skill-icon fa fa-code"></i> <!-- Exemple avec FontAwesome -->
                </div>
                <h3 class="category-title">{{ category.name }}</h3>
                <p class="skill-description">
                    {% for skill in category.skills.all %}
                        {{ skill.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>


    <!-- Projects Section -->
    <div class="w3-container w3-padding-32" id="experiences">
        <h2>Mes expériences</h2>
        <div class="w3-row-padding">
            {% for project in projects %}
            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4 project-card">
                    <div class="project-image-container">
                        <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image">
                        <div class="overlay">
                            <span class="w3-large">{{ project.title }}</span>
                            <button
                                class="w3-button w3-circle w3-teal project-button"
                                data-title="{{ project.title }}"
                                data-description="{{ project.description|escapejs }}"
                                data-start-date="{{ project.starting_date }}"
                                data-end-date="{{ project.ending_date }}"
                                onclick="openModal(this)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Projects Section -->
    <div class="w3-container w3-padding-32" id="idees_en_cours">
        <h2>Mes idées / Mes projets en cours</h2>
        <div class="w3-row-padding">
            {% for project_idea in project_ideas %}
            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4 project-card">
                    <div class="project-image-container">
                        <img src="{{ project_idea.image.url }}" alt="{{ project_idea.title }}" class="project-image">
                        <div class="overlay">
                            <span class="w3-large">{{ project_idea.title }}</span>
                            <button
                                class="w3-button w3-circle w3-teal project-button"
                                data-title="{{ project_idea.title }}"
                                data-description="{{ project_idea.description|escapejs }}"
                                data-start-date="{{ project_idea.starting_date }}"
                                data-end-date="{{ project_idea.ending_date }}"
                                onclick="openModal(this)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modale pour afficher les détails du projet -->
    <div id="projectModal" class="w3-modal w3-animate-opacity">
        <div class="w3-modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h3 id="modalTitle"></h3>
            <p id="modalDescription"></p>
            <p id="modalStartDate"></p>
            <p id="modalEndDate"></p>
        </div>
    </div>


    <section id="contact" class="contact-section">
        <h2>Contactez-moi</h2>
        <!-- Message de confirmation -->
        {% if confirmation_message %}
            <div class="alert">{{ confirmation_message }}</div>
        {% endif %}
        <!-- Formulaire -->
        <form method="post" action="" class="contact-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nom *</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="societe">Société</label>
                <input type="text" id="societe" name="societe">
            </div>
            <div class="form-group">
                <label for="telephone">Téléphone</label>
                <input type="tel" id="telephone" name="telephone">
            </div>
            <div class="form-group">
                <label for="sender">Email *</label>
                <input type="email" id="sender" name="sender" required>
            </div>
            <div class="form-group">
                <label for="subject">Sujet *</label>
                <input type="text" id="subject" name="subject" required>
            </div>
            <div class="form-group">
                <label for="message">Message *</label>
                <textarea id="message" name="message" required></textarea>
            </div>
            <div class="form-group">
                <label for="cc_myself">M'envoyer une copie</label>
                <input type="checkbox" id="cc_myself" name="cc_myself">
            </div>
            <button type="submit" class="btn-submit">Envoyer</button>
        </form>
    </section>

</div>

<!-- Lien vers le script JavaScript externe -->
<script src="{% static 'portfolio/script.js' %}"></script>

</body>

<footer class="footer">
    <div class="footer-content">
        <p>© 2024 Grégory EYRAUD. Tous droits réservés.</p>
        <ul class="footer-links">
            <li><a href="#main">Acceuil</a></li>
            <li><a href="#formations">Formations</a></li>
            <li><a href="#competences">Compétences</a></li>
            <li><a href="#experiences">Expériences</a></li>
            <li><a href="#idees_en_cours">Idées / Projets en cours </a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/gr%C3%A9gory-eyraud-6755a81bb/" target="_blank">
                <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn" class="social-icon">
            </a>
            <a href="https://github.com/EYRAUD-gregory" target="_blank">
                <img src="{% static 'images/github.png' %}" alt="GitHub" class="social-icon">
            </a>
        </div>
    </div>
</footer>


</html>
